@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --bg-color: #f4f4f4;
  --secondary-color: #5555ff;
  --white: #fff;
  --black: #000;
  --gray: #a1a1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
}

.container {
  max-width: 350px;
  margin: 1em auto;
}

.header {
  color: var(--secondary-color);
  margin-bottom: 1em;
}

.calculator {
  background-color: var(--black);
  padding: 0.5em;
}

#screen input {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border: none;
  width: 100%;
  padding: 15px 5px;
  text-align: right;
  background-color: var(--gray);
  color: var(--black);
}
#body {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "main main main sidebar";
}

.abra {
  grid-area: header;
}

.digits {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.operators .btn {
  width: 100%;
}

#equals {
  width: 100%;
}

.btn {
  border: none;
  border-radius: 0%;
  background-color: var(--black);
  color: white;
  padding: 15px 32px;
  margin: 15px 12px 0 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
  border: none;
  background-color: var(--primary-color-lighten);
  padding: 10px 25px;
  font-size: 14px;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--black);
}
